body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    justify-content: center;
    overflow: hidden;
}

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
}

.header-word {
    color: white;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-wrapper {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.action-button {
    background-color: #49c284;
    color: black;
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.action-button:hover {
    background-color: #218838;
}

.form-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: none;
    border: none;
    box-shadow: none;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.user-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #28a745;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #218838;
}

/* New styles for icipants list */
.participants-list {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.participants-list h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.participant-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
}

.participant-item:last-child {
    border-bottom: none;
}

.participant-name {
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 3px;
    display: flex;
    align-items: flex-end;
}

.participant-role {
    font-weight: bold;
    color: #666;
}

/* New styles for start button */
#startButton {
    background-color: #28a745;
    color: darkslategrey;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

#startButton:hover {
    background-color: #218838;
}

/* New styles for timer container */
.timer-container {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    color: darkslategray;
    /* border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.vote-button {
    background-color: #49c284;
    color: black;
    border: 2px solid #ccc;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.vote-button:hover {
    background-color: #218838;
}

/* New styles for vote container */
.vote-container {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

/* New styles for timer countdown */
.timer-countdown {
    font-size: 30px;
    color: black;
}

.result-container {
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}

.result-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.result-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.topic-container {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: darkslategray;
}

.topic-container h1 {
    font-size: 28px;
    color: black;
    margin-top: 10px;
}

.not-found-container {
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.not-found-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: darkred;
}

.reversal-container {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reversal-container span {
    font-size: 30px;
    color: red;
}

.reversal-rule-container {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scroll-container {
    width: 100%;
    height: calc(100vh - 50px);
    /* Adjust height to account for header */
    overflow-y: auto;
    padding-top: 60px;
    /* Adjust padding to account for header */
}

/* Custom scrollbar styles */
.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}